In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('DSJobs.csv')

In [3]:
df.head()

,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"
1,1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1
2,2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1
3,3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech..."
4,4,Data Scientist,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"

In [7]:
df.drop('index', axis=1, inplace=True)

In [8]:
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"
1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1
2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1
3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech..."
4,Data Scientist,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"

In [10]:
df.shape

(672, 14)

In [12]:
df.nunique()

Job Title            172
Salary Estimate       30
Job Description      489
Rating                32
Company Name         432
Location             207
Headquarters         229
Size                   9
Founded              103
Type of ownership     13
Industry              58
Sector                23
Revenue               14
Competitors          108
dtype: int64

In [15]:
df['Job Title'].unique()

array(['Sr Data Scientist', 'Data Scientist',
       'Data Scientist / Machine Learning Expert',
       'Staff Data Scientist - Analytics',
       'Data Scientist - Statistics, Early Career', 'Data Modeler',
       'Experienced Data Scientist', 'Data Scientist - Contract',
       'Data Analyst II', 'Medical Lab Scientist',
       'Data Scientist/Machine Learning', 'Human Factors Scientist',
       'Business Intelligence Analyst I- Data Insights',
       'Data Scientist - Risk', 'Data Scientist-Human Resources',
       'Senior Research Statistician- Data Scientist', 'Data Engineer',
       'Associate Data Scientist', 'Business Intelligence Analyst',
       'Senior Analyst/Data Scientist', 'Data Analyst',
       'Machine Learning Engineer', 'Data Analyst I',
       'Scientist - Molecular Biology',
       'Computational Scientist, Machine Learning',
       'Senior Data Scientist', 'Jr. Data Engineer',
       'E-Commerce Data Analyst', 'Data Analytics Engineer',
       'Product Data Scientist - Ads Data Science',
       'Data Scientist - Intermediate', 'Global Data Analyst',
       'Data & Machine Learning Scientist',
       'Data Scientist - Machine Learning', 'Data Engineer (Remote)',
       'Data Scientist, Applied Machine Learning - Bay Area',
       'Principal Data Scientist', 'Business Data Analyst',
       'Purification Scientist', 'Data Engineer, Enterprise Analytics',
       'Data Scientist 3 (718)', 'Real World Science, Data Scientist',
       'Data Scientist - Image and Video Analytics',
       'Data Science Manager, Payment Acceptance - USA',
       'Data Scientist / Applied Mathematician',
       'Patient Safety- Associate Data Scientist',
       '(Sr.) Data Scientist -', 'Data Scientist, Kinship - NYC/Portland',
       'Applied Technology Researcher / Data Scientist',
       'Health Data Scientist - Biomedical/Biostats',
       'Staff Data Scientist', 'Sr Data Engineer (Sr BI Developer)',
       'Lead Data Scientist', 'RFP Data Analyst',
       'Data Scientist (TS/SCI)', 'Software Engineer - Data Science',
       'Data Analyst/Engineer', 'NGS Scientist', 'Senior Data Engineer',
       'Sr. ML/Data Scientist - AI/NLP/Chatbot',
       'Data Integration and Modeling Engineer',
       'Tableau Data Engineer 20-0117', 'AI Data Scientist',
       'Research Scientist Patient Preferences (Remote)',
       'Scientist - Biomarker and Flow Cytometry', 'Analytics Manager',
       'Staff Scientist- Upstream PD',
       'Sr Scientist - Extractables & Leachables',
       'ELISA RESEARCH SCIENTIST (CV-15)', 'Say Business Data Analyst',
       'Geospatial Data Scientist', 'Computational Scientist',
       'Senior Data Analyst', 'Sr Data Analyst',
       'Machine Learning Scientist - Bay Area, CA',
       'Senior Data Scientist - Algorithms',
       'Senior Data & Machine Learning Scientist',
       'Research Scientist - Patient-Centered Research (Remote)',
       'Jr. Business Data Analyst (position added 6/12/2020)',
       'Sr. Data Scientist II',
       'Production Engineer - Statistics/Data Analysis',
       'Statistical Scientist', 'Computational Behavioral Scientist',
       'Principal Data Scientist - Machine Learning',
       'Principal Machine Learning Scientist',
       'Senior Data Scientist - R&D Oncology',
       'Health Plan Data Analyst, Sr',
       'Principal Scientist/Associate Director, Quality Control and Analytical Technologies',
       'Analytics - Business Assurance Data Analyst',
       'Senior Data Scientist – Image Analytics, Novartis AI Innovation Lab',
       'Data Science Instructor', 'Senior Business Intelligence Analyst',
       'In-Line Inspection Data Analyst',
       'Data Scientist - TS/SCI FSP or CI Required',
       'Data Scientist - TS/SCI Required',
       'Data Science Software Engineer',
       'ENGINEER - COMPUTER SCIENTIST - RESEARCH COMPUTER SCIENTIST - SIGNAL PROCESSING - SAN ANTONIO OR',
       'AI Ops Data Scientist', 'Intelligence Data Analyst, Senior',
       'Analytics Manager - Data Mart',
       'Data Modeler (Analytical Systems)',
       'Senior Machine Learning Scientist - Bay Area, CA',
       'Report Writer-Data Analyst', 'Staff Data Scientist - Pricing',
       'Equity Data Insights Analyst - Quantitative Analyst',
       'Operations Data Analyst', 'Software Data Engineer',
       'Real World Evidence (RWE) Scientist', 'Computer Scientist 1',
       'Environmental Data Science', 'Staff BI and Data Engineer',
       'Data Scientist - Statistics, Mid-Career',
       'Director of Data Science',
       'Data Engineer, Digital & Comp Pathology',
       'Manager / Lead, Data Science & Analytics',
       'Diversity and Inclusion Data Analyst',
       'Data Scientist Machine Learning', 'Chief Scientist',
       'Development Scientist, Voltaren',
       'Principal Data & Analytics Platform Engineer',
       'Machine Learning Engineer/Scientist',
       'Data Analyst - Unilever Prestige', 'VP, Data Science',
       'Data Engineer - Kafka', 'Decision Scientist',
       'Data Science All Star Program - Data Engineer Track',
       'Scientist - Machine Learning', 'Sr. Data Scientist',
       'Applied AI Scientist / Engineer',
       'Data Engineer (Analytics, SQL, Python, AWS)',
       'Senior Data Analyst - Finance & Platform Analytics',
       'Market Research Data Scientist',
       'IT Partner Digital Health Technology and Data Science',
       'Software Engineer (Data Scientist, C,C++,Linux,Unix) - SISW - MG',
       'Senior Clinical Data Scientist Programmer',
       'Computer Vision / Deep Learning Scientist',
       'Data Solutions Engineer - Data Modeler',
       'Data Scientist (TS/SCI w/ Poly)',
       'Weapons and Sensors Engineer/Scientist',
       'Applied Computer Scientist', 'Cloud Data Engineer (Azure)',
       'Lead Certified Clinical Laboratory Scientist - Saturday - Tuesday, 8:00pm - 6:30am shift',
       'Sr. Data Analyst',
       'Senior Scientist - Toxicologist - Product Integrity (Stewardship)',
       'Senior Machine Learning Engineer',
       'Data Scientist- Industrial Discrete Sector Industry',
       'Senior Principal Data Scientist (Python/R)',
       'Data Scientist(s)/Machine Learning Engineer',
       'Scientist / Group Lead, Cancer Biology',
       'Manager, Field Application Scientist, Southeast',
       'COMPUTER SCIENTIST - ENGINEER - RESEARCH COMPUTER SCIENTIST - SIGNAL PROCESSING',
       'Machine Learning Scientist / Engineer', 'Data Science Analyst',
       'COMPUTER SCIENTIST - ENGINEER - RESEARCH COMPUTER SCIENTIST - TRANSPORTATION TECHNOLOGY',
       'Software Engineer - Machine Learning & Data Science (Applied Intelligence Services Team)',
       'Clinical Data Analyst', 'Data Scientist Technical Specialist',
       'Data Science Manager', 'Big Data Engineer', 'Data Architect',
       'Aviation AI/ML Data Scientist', 'Machine Learning Engineer, Sr.',
       'Information Systems Engineering Specialist (Engineering Scientist)',
       'Scientist/Research Associate-Metabolic Engineering',
       'Vice President, Biometrics and Clinical Data Management',
       'Enterprise Data Analyst (Enterprise Portfolio Management Office)',
       'Lead Data Scientist – Network Analysis and Control',
       'Sr. Research Associate/ Scientist, NGS prep & Molecular Genomics',
       'Developer III - Data Science',
       'Hydrogen/Tritium Materials Scientist (Experienced)',
       'Data Scientist/Data Analytics Practitioner',
       'AI/ML - Machine Learning Scientist, Siri Understanding'],
      dtype=object)

In [22]:
df1 = df.copy()

In [23]:
df1.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"
1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1
2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1
3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech..."
4,Data Scientist,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"

In [24]:
df1.dtypes

Job Title             object
Salary Estimate       object
Job Description       object
Rating               float64
Company Name          object
Location              object
Headquarters          object
Size                  object
Founded                int64
Type of ownership     object
Industry              object
Sector                object
Revenue               object
Competitors           object
dtype: object

In [25]:
df1.isnull().sum()

Job Title            0
Salary Estimate      0
Job Description      0
Rating               0
Company Name         0
Location             0
Headquarters         0
Size                 0
Founded              0
Type of ownership    0
Industry             0
Sector               0
Revenue              0
Competitors          0
dtype: int64

In [125]:
df1['Job Role'] = df1['Job Title']

In [126]:
df1['Job Role'] = df1['Job Role'].str.replace(r'sr data scientist','Senior Data Scientist', case=False, regex=True)

In [127]:
df1['Job Role'].unique()

array(['Senior Data Scientist', 'Data Scientist',
       'Data Scientist / Machine Learning Expert',
       'Staff Data Scientist - Analytics',
       'Data Scientist - Statistics, Early Career', 'Data Modeler',
       'Experienced Data Scientist', 'Data Scientist - Contract',
       'Data Analyst II', 'Medical Lab Scientist',
       'Data Scientist/Machine Learning', 'Human Factors Scientist',
       'Business Intelligence Analyst I- Data Insights',
       'Data Scientist - Risk', 'Data Scientist-Human Resources',
       'Senior Research Statistician- Data Scientist', 'Data Engineer',
       'Associate Data Scientist', 'Business Intelligence Analyst',
       'Senior Analyst/Data Scientist', 'Data Analyst',
       'Machine Learning Engineer', 'Data Analyst I',
       'Scientist - Molecular Biology',
       'Computational Scientist, Machine Learning', 'Jr. Data Engineer',
       'E-Commerce Data Analyst', 'Data Analytics Engineer',
       'Product Data Scientist - Ads Data Science',
       'Data Scientist - Intermediate', 'Global Data Analyst',
       'Data & Machine Learning Scientist',
       'Data Scientist - Machine Learning', 'Data Engineer (Remote)',
       'Data Scientist, Applied Machine Learning - Bay Area',
       'Principal Data Scientist', 'Business Data Analyst',
       'Purification Scientist', 'Data Engineer, Enterprise Analytics',
       'Data Scientist 3 (718)', 'Real World Science, Data Scientist',
       'Data Scientist - Image and Video Analytics',
       'Data Science Manager, Payment Acceptance - USA',
       'Data Scientist / Applied Mathematician',
       'Patient Safety- Associate Data Scientist',
       '(Sr.) Data Scientist -', 'Data Scientist, Kinship - NYC/Portland',
       'Applied Technology Researcher / Data Scientist',
       'Health Data Scientist - Biomedical/Biostats',
       'Staff Data Scientist', 'Sr Data Engineer (Sr BI Developer)',
       'Lead Data Scientist', 'RFP Data Analyst',
       'Data Scientist (TS/SCI)', 'Software Engineer - Data Science',
       'Data Analyst/Engineer', 'NGS Scientist', 'Senior Data Engineer',
       'Sr. ML/Data Scientist - AI/NLP/Chatbot',
       'Data Integration and Modeling Engineer',
       'Tableau Data Engineer 20-0117', 'AI Data Scientist',
       'Research Scientist Patient Preferences (Remote)',
       'Scientist - Biomarker and Flow Cytometry', 'Analytics Manager',
       'Staff Scientist- Upstream PD',
       'Sr Scientist - Extractables & Leachables',
       'ELISA RESEARCH SCIENTIST (CV-15)', 'Say Business Data Analyst',
       'Geospatial Data Scientist', 'Computational Scientist',
       'Senior Data Analyst', 'Sr Data Analyst',
       'Machine Learning Scientist - Bay Area, CA',
       'Senior Data Scientist - Algorithms',
       'Senior Data & Machine Learning Scientist',
       'Research Scientist - Patient-Centered Research (Remote)',
       'Jr. Business Data Analyst (position added 6/12/2020)',
       'Sr. Data Scientist II',
       'Production Engineer - Statistics/Data Analysis',
       'Statistical Scientist', 'Computational Behavioral Scientist',
       'Principal Data Scientist - Machine Learning',
       'Principal Machine Learning Scientist',
       'Senior Data Scientist - R&D Oncology',
       'Health Plan Data Analyst, Sr',
       'Principal Scientist/Associate Director, Quality Control and Analytical Technologies',
       'Analytics - Business Assurance Data Analyst',
       'Senior Data Scientist – Image Analytics, Novartis AI Innovation Lab',
       'Data Science Instructor', 'Senior Business Intelligence Analyst',
       'In-Line Inspection Data Analyst',
       'Data Scientist - TS/SCI FSP or CI Required',
       'Data Scientist - TS/SCI Required',
       'Data Science Software Engineer',
       'ENGINEER - COMPUTER SCIENTIST - RESEARCH COMPUTER SCIENTIST - SIGNAL PROCESSING - SAN ANTONIO OR',
       'AI Ops Data Scientist', 'Intelligence Data Analyst, Senior',
       'Analytics Manager - Data Mart',
       'Data Modeler (Analytical Systems)',
       'Senior Machine Learning Scientist - Bay Area, CA',
       'Report Writer-Data Analyst', 'Staff Data Scientist - Pricing',
       'Equity Data Insights Analyst - Quantitative Analyst',
       'Operations Data Analyst', 'Software Data Engineer',
       'Real World Evidence (RWE) Scientist', 'Computer Scientist 1',
       'Environmental Data Science', 'Staff BI and Data Engineer',
       'Data Scientist - Statistics, Mid-Career',
       'Director of Data Science',
       'Data Engineer, Digital & Comp Pathology',
       'Manager / Lead, Data Science & Analytics',
       'Diversity and Inclusion Data Analyst',
       'Data Scientist Machine Learning', 'Chief Scientist',
       'Development Scientist, Voltaren',
       'Principal Data & Analytics Platform Engineer',
       'Machine Learning Engineer/Scientist',
       'Data Analyst - Unilever Prestige', 'VP, Data Science',
       'Data Engineer - Kafka', 'Decision Scientist',
       'Data Science All Star Program - Data Engineer Track',
       'Scientist - Machine Learning', 'Sr. Data Scientist',
       'Applied AI Scientist / Engineer',
       'Data Engineer (Analytics, SQL, Python, AWS)',
       'Senior Data Analyst - Finance & Platform Analytics',
       'Market Research Data Scientist',
       'IT Partner Digital Health Technology and Data Science',
       'Software Engineer (Data Scientist, C,C++,Linux,Unix) - SISW - MG',
       'Senior Clinical Data Scientist Programmer',
       'Computer Vision / Deep Learning Scientist',
       'Data Solutions Engineer - Data Modeler',
       'Data Scientist (TS/SCI w/ Poly)',
       'Weapons and Sensors Engineer/Scientist',
       'Applied Computer Scientist', 'Cloud Data Engineer (Azure)',
       'Lead Certified Clinical Laboratory Scientist - Saturday - Tuesday, 8:00pm - 6:30am shift',
       'Sr. Data Analyst',
       'Senior Scientist - Toxicologist - Product Integrity (Stewardship)',
       'Senior Machine Learning Engineer',
       'Data Scientist- Industrial Discrete Sector Industry',
       'Senior Principal Data Scientist (Python/R)',
       'Data Scientist(s)/Machine Learning Engineer',
       'Scientist / Group Lead, Cancer Biology',
       'Manager, Field Application Scientist, Southeast',
       'COMPUTER SCIENTIST - ENGINEER - RESEARCH COMPUTER SCIENTIST - SIGNAL PROCESSING',
       'Machine Learning Scientist / Engineer', 'Data Science Analyst',
       'COMPUTER SCIENTIST - ENGINEER - RESEARCH COMPUTER SCIENTIST - TRANSPORTATION TECHNOLOGY',
       'Software Engineer - Machine Learning & Data Science (Applied Intelligence Services Team)',
       'Clinical Data Analyst', 'Data Scientist Technical Specialist',
       'Data Science Manager', 'Big Data Engineer', 'Data Architect',
       'Aviation AI/ML Data Scientist', 'Machine Learning Engineer, Sr.',
       'Information Systems Engineering Specialist (Engineering Scientist)',
       'Scientist/Research Associate-Metabolic Engineering',
       'Vice President, Biometrics and Clinical Data Management',
       'Enterprise Data Analyst (Enterprise Portfolio Management Office)',
       'Lead Data Scientist – Network Analysis and Control',
       'Sr. Research Associate/ Scientist, NGS prep & Molecular Genomics',
       'Developer III - Data Science',
       'Hydrogen/Tritium Materials Scientist (Experienced)',
       'Data Scientist/Data Analytics Practitioner',
       'AI/ML - Machine Learning Scientist, Siri Understanding'],
      dtype=object)

In [128]:
df1['Job Role'] = df1['Job Role'].str.replace(r'Staff Data Scientist', 'Associate Data Scientist', case=False, regex=True)

In [129]:
df1['Extracted'] = df1['Job Role'].str.extract(r'(Senior Data Scientist|Data Scientist|Associate Data Scientist|Principal Data Scientist)')

In [130]:
df1['Job Role1'] = df1['Extracted'].combine_first(df1['Job Role'])

In [131]:
df1['Job Role'] = df1['Job Role1']

In [132]:
df1.drop(['Extracted','Job Role1'], axis=1, inplace=True)

In [133]:
df1.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Job Role
0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna",Senior Data Scientist
1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1,Data Scientist
2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1,Data Scientist
3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech...",Data Scientist
4,Data Scientist,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",Data Scientist

In [134]:
df1[df1['Job Role'] == 'Sr. Data Analyst']

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Job Role
403,Sr. Data Analyst,$110K-$163K (Glassdoor est.),Position Overview:\n\nThe Sr. Data Analyst pla...,3.6,Community Behavioral Health\n3.6,"Philadelphia, PA","Phila, PA",201 to 500 employees,1994,Company - Private,Health Care Services & Hospitals,Health Care,$500 million to $1 billion (USD),-1,Sr. Data Analyst

In [135]:
df1['Job Role'].unique()

array(['Senior Data Scientist', 'Data Scientist',
       'Associate Data Scientist', 'Data Modeler', 'Data Analyst II',
       'Medical Lab Scientist', 'Human Factors Scientist',
       'Business Intelligence Analyst I- Data Insights', 'Data Engineer',
       'Business Intelligence Analyst', 'Data Analyst',
       'Machine Learning Engineer', 'Data Analyst I',
       'Scientist - Molecular Biology',
       'Computational Scientist, Machine Learning', 'Jr. Data Engineer',
       'E-Commerce Data Analyst', 'Data Analytics Engineer',
       'Global Data Analyst', 'Data & Machine Learning Scientist',
       'Data Engineer (Remote)', 'Principal Data Scientist',
       'Business Data Analyst', 'Purification Scientist',
       'Data Engineer, Enterprise Analytics',
       'Data Science Manager, Payment Acceptance - USA',
       'Sr Data Engineer (Sr BI Developer)', 'RFP Data Analyst',
       'Software Engineer - Data Science', 'Data Analyst/Engineer',
       'NGS Scientist', 'Senior Data Engineer',
       'Data Integration and Modeling Engineer',
       'Tableau Data Engineer 20-0117',
       'Research Scientist Patient Preferences (Remote)',
       'Scientist - Biomarker and Flow Cytometry', 'Analytics Manager',
       'Staff Scientist- Upstream PD',
       'Sr Scientist - Extractables & Leachables',
       'ELISA RESEARCH SCIENTIST (CV-15)', 'Say Business Data Analyst',
       'Computational Scientist', 'Senior Data Analyst',
       'Sr Data Analyst', 'Machine Learning Scientist - Bay Area, CA',
       'Senior Data & Machine Learning Scientist',
       'Research Scientist - Patient-Centered Research (Remote)',
       'Jr. Business Data Analyst (position added 6/12/2020)',
       'Production Engineer - Statistics/Data Analysis',
       'Statistical Scientist', 'Computational Behavioral Scientist',
       'Principal Machine Learning Scientist',
       'Health Plan Data Analyst, Sr',
       'Principal Scientist/Associate Director, Quality Control and Analytical Technologies',
       'Analytics - Business Assurance Data Analyst',
       'Data Science Instructor', 'Senior Business Intelligence Analyst',
       'In-Line Inspection Data Analyst',
       'Data Science Software Engineer',
       'ENGINEER - COMPUTER SCIENTIST - RESEARCH COMPUTER SCIENTIST - SIGNAL PROCESSING - SAN ANTONIO OR',
       'Intelligence Data Analyst, Senior',
       'Analytics Manager - Data Mart',
       'Data Modeler (Analytical Systems)',
       'Senior Machine Learning Scientist - Bay Area, CA',
       'Report Writer-Data Analyst',
       'Equity Data Insights Analyst - Quantitative Analyst',
       'Operations Data Analyst', 'Software Data Engineer',
       'Real World Evidence (RWE) Scientist', 'Computer Scientist 1',
       'Environmental Data Science', 'Staff BI and Data Engineer',
       'Director of Data Science',
       'Data Engineer, Digital & Comp Pathology',
       'Manager / Lead, Data Science & Analytics',
       'Diversity and Inclusion Data Analyst', 'Chief Scientist',
       'Development Scientist, Voltaren',
       'Principal Data & Analytics Platform Engineer',
       'Machine Learning Engineer/Scientist',
       'Data Analyst - Unilever Prestige', 'VP, Data Science',
       'Data Engineer - Kafka', 'Decision Scientist',
       'Data Science All Star Program - Data Engineer Track',
       'Scientist - Machine Learning', 'Applied AI Scientist / Engineer',
       'Data Engineer (Analytics, SQL, Python, AWS)',
       'Senior Data Analyst - Finance & Platform Analytics',
       'IT Partner Digital Health Technology and Data Science',
       'Computer Vision / Deep Learning Scientist',
       'Data Solutions Engineer - Data Modeler',
       'Weapons and Sensors Engineer/Scientist',
       'Applied Computer Scientist', 'Cloud Data Engineer (Azure)',
       'Lead Certified Clinical Laboratory Scientist - Saturday - Tuesday, 8:00pm - 6:30am shift',
       'Sr. Data Analyst',
       'Senior Scientist - Toxicologist - Product Integrity (Stewardship)',
       'Senior Machine Learning Engineer',
       'Scientist / Group Lead, Cancer Biology',
       'Manager, Field Application Scientist, Southeast',
       'COMPUTER SCIENTIST - ENGINEER - RESEARCH COMPUTER SCIENTIST - SIGNAL PROCESSING',
       'Machine Learning Scientist / Engineer', 'Data Science Analyst',
       'COMPUTER SCIENTIST - ENGINEER - RESEARCH COMPUTER SCIENTIST - TRANSPORTATION TECHNOLOGY',
       'Software Engineer - Machine Learning & Data Science (Applied Intelligence Services Team)',
       'Clinical Data Analyst', 'Data Science Manager',
       'Big Data Engineer', 'Data Architect',
       'Machine Learning Engineer, Sr.',
       'Information Systems Engineering Specialist (Engineering Scientist)',
       'Scientist/Research Associate-Metabolic Engineering',
       'Vice President, Biometrics and Clinical Data Management',
       'Enterprise Data Analyst (Enterprise Portfolio Management Office)',
       'Sr. Research Associate/ Scientist, NGS prep & Molecular Genomics',
       'Developer III - Data Science',
       'Hydrogen/Tritium Materials Scientist (Experienced)',
       'AI/ML - Machine Learning Scientist, Siri Understanding'],
      dtype=object)

In [136]:
df1['Job Role'] = df1['Job Role'].str.replace(r'sr data analyst','Senior Data Analyst', case=False, regex=True)

In [137]:
df1['Job Role'] = df1['Job Role'].str.replace(r'sr. data analyst','Senior Data Analyst', case=False, regex=True)

In [138]:
df1['Extracted'] = df1['Job Role'].str.extract(r'(Data Analyst|Senior Data Analyst|Data Analysis)')

In [139]:
df1['Job Role'] = df1['Extracted'].combine_first(df1['Job Role'])

In [140]:
df1['Job Role'].unique()

array(['Senior Data Scientist', 'Data Scientist',
       'Associate Data Scientist', 'Data Modeler', 'Data Analyst',
       'Medical Lab Scientist', 'Human Factors Scientist',
       'Business Intelligence Analyst I- Data Insights', 'Data Engineer',
       'Business Intelligence Analyst', 'Machine Learning Engineer',
       'Scientist - Molecular Biology',
       'Computational Scientist, Machine Learning', 'Jr. Data Engineer',
       'Data Analytics Engineer', 'Data & Machine Learning Scientist',
       'Data Engineer (Remote)', 'Principal Data Scientist',
       'Purification Scientist', 'Data Engineer, Enterprise Analytics',
       'Data Science Manager, Payment Acceptance - USA',
       'Sr Data Engineer (Sr BI Developer)',
       'Software Engineer - Data Science', 'NGS Scientist',
       'Senior Data Engineer', 'Data Integration and Modeling Engineer',
       'Tableau Data Engineer 20-0117',
       'Research Scientist Patient Preferences (Remote)',
       'Scientist - Biomarker and Flow Cytometry', 'Analytics Manager',
       'Staff Scientist- Upstream PD',
       'Sr Scientist - Extractables & Leachables',
       'ELISA RESEARCH SCIENTIST (CV-15)', 'Computational Scientist',
       'Senior Data Analyst', 'Machine Learning Scientist - Bay Area, CA',
       'Senior Data & Machine Learning Scientist',
       'Research Scientist - Patient-Centered Research (Remote)',
       'Data Analysis', 'Statistical Scientist',
       'Computational Behavioral Scientist',
       'Principal Machine Learning Scientist',
       'Principal Scientist/Associate Director, Quality Control and Analytical Technologies',
       'Data Science Instructor', 'Senior Business Intelligence Analyst',
       'Data Science Software Engineer',
       'ENGINEER - COMPUTER SCIENTIST - RESEARCH COMPUTER SCIENTIST - SIGNAL PROCESSING - SAN ANTONIO OR',
       'Analytics Manager - Data Mart',
       'Data Modeler (Analytical Systems)',
       'Senior Machine Learning Scientist - Bay Area, CA',
       'Equity Data Insights Analyst - Quantitative Analyst',
       'Software Data Engineer', 'Real World Evidence (RWE) Scientist',
       'Computer Scientist 1', 'Environmental Data Science',
       'Staff BI and Data Engineer', 'Director of Data Science',
       'Data Engineer, Digital & Comp Pathology',
       'Manager / Lead, Data Science & Analytics', 'Chief Scientist',
       'Development Scientist, Voltaren',
       'Principal Data & Analytics Platform Engineer',
       'Machine Learning Engineer/Scientist', 'VP, Data Science',
       'Data Engineer - Kafka', 'Decision Scientist',
       'Data Science All Star Program - Data Engineer Track',
       'Scientist - Machine Learning', 'Applied AI Scientist / Engineer',
       'Data Engineer (Analytics, SQL, Python, AWS)',
       'IT Partner Digital Health Technology and Data Science',
       'Computer Vision / Deep Learning Scientist',
       'Data Solutions Engineer - Data Modeler',
       'Weapons and Sensors Engineer/Scientist',
       'Applied Computer Scientist', 'Cloud Data Engineer (Azure)',
       'Lead Certified Clinical Laboratory Scientist - Saturday - Tuesday, 8:00pm - 6:30am shift',
       'Senior Scientist - Toxicologist - Product Integrity (Stewardship)',
       'Senior Machine Learning Engineer',
       'Scientist / Group Lead, Cancer Biology',
       'Manager, Field Application Scientist, Southeast',
       'COMPUTER SCIENTIST - ENGINEER - RESEARCH COMPUTER SCIENTIST - SIGNAL PROCESSING',
       'Machine Learning Scientist / Engineer', 'Data Science Analyst',
       'COMPUTER SCIENTIST - ENGINEER - RESEARCH COMPUTER SCIENTIST - TRANSPORTATION TECHNOLOGY',
       'Software Engineer - Machine Learning & Data Science (Applied Intelligence Services Team)',
       'Data Science Manager', 'Big Data Engineer', 'Data Architect',
       'Machine Learning Engineer, Sr.',
       'Information Systems Engineering Specialist (Engineering Scientist)',
       'Scientist/Research Associate-Metabolic Engineering',
       'Vice President, Biometrics and Clinical Data Management',
       'Sr. Research Associate/ Scientist, NGS prep & Molecular Genomics',
       'Developer III - Data Science',
       'Hydrogen/Tritium Materials Scientist (Experienced)',
       'AI/ML - Machine Learning Scientist, Siri Understanding'],
      dtype=object)

In [141]:
df1['Job Role'] = df1['Job Role'].str.replace(r'Machine Learning','Machine Learning Engineer', case=False, regex=True)

In [142]:
df1['Extracted'] = df1['Job Role'].str.extract(r'(Machine Learning Engineer)')

In [143]:
df1['Job Role'] = df1['Extracted'].combine_first(df1['Job Role'])

In [144]:
df1['Job Role'].unique()

array(['Senior Data Scientist', 'Data Scientist',
       'Associate Data Scientist', 'Data Modeler', 'Data Analyst',
       'Medical Lab Scientist', 'Human Factors Scientist',
       'Business Intelligence Analyst I- Data Insights', 'Data Engineer',
       'Business Intelligence Analyst', 'Machine Learning Engineer',
       'Scientist - Molecular Biology', 'Jr. Data Engineer',
       'Data Analytics Engineer', 'Data Engineer (Remote)',
       'Principal Data Scientist', 'Purification Scientist',
       'Data Engineer, Enterprise Analytics',
       'Data Science Manager, Payment Acceptance - USA',
       'Sr Data Engineer (Sr BI Developer)',
       'Software Engineer - Data Science', 'NGS Scientist',
       'Senior Data Engineer', 'Data Integration and Modeling Engineer',
       'Tableau Data Engineer 20-0117',
       'Research Scientist Patient Preferences (Remote)',
       'Scientist - Biomarker and Flow Cytometry', 'Analytics Manager',
       'Staff Scientist- Upstream PD',
       'Sr Scientist - Extractables & Leachables',
       'ELISA RESEARCH SCIENTIST (CV-15)', 'Computational Scientist',
       'Senior Data Analyst',
       'Research Scientist - Patient-Centered Research (Remote)',
       'Data Analysis', 'Statistical Scientist',
       'Computational Behavioral Scientist',
       'Principal Scientist/Associate Director, Quality Control and Analytical Technologies',
       'Data Science Instructor', 'Senior Business Intelligence Analyst',
       'Data Science Software Engineer',
       'ENGINEER - COMPUTER SCIENTIST - RESEARCH COMPUTER SCIENTIST - SIGNAL PROCESSING - SAN ANTONIO OR',
       'Analytics Manager - Data Mart',
       'Data Modeler (Analytical Systems)',
       'Equity Data Insights Analyst - Quantitative Analyst',
       'Software Data Engineer', 'Real World Evidence (RWE) Scientist',
       'Computer Scientist 1', 'Environmental Data Science',
       'Staff BI and Data Engineer', 'Director of Data Science',
       'Data Engineer, Digital & Comp Pathology',
       'Manager / Lead, Data Science & Analytics', 'Chief Scientist',
       'Development Scientist, Voltaren',
       'Principal Data & Analytics Platform Engineer', 'VP, Data Science',
       'Data Engineer - Kafka', 'Decision Scientist',
       'Data Science All Star Program - Data Engineer Track',
       'Applied AI Scientist / Engineer',
       'Data Engineer (Analytics, SQL, Python, AWS)',
       'IT Partner Digital Health Technology and Data Science',
       'Computer Vision / Deep Learning Scientist',
       'Data Solutions Engineer - Data Modeler',
       'Weapons and Sensors Engineer/Scientist',
       'Applied Computer Scientist', 'Cloud Data Engineer (Azure)',
       'Lead Certified Clinical Laboratory Scientist - Saturday - Tuesday, 8:00pm - 6:30am shift',
       'Senior Scientist - Toxicologist - Product Integrity (Stewardship)',
       'Scientist / Group Lead, Cancer Biology',
       'Manager, Field Application Scientist, Southeast',
       'COMPUTER SCIENTIST - ENGINEER - RESEARCH COMPUTER SCIENTIST - SIGNAL PROCESSING',
       'Data Science Analyst',
       'COMPUTER SCIENTIST - ENGINEER - RESEARCH COMPUTER SCIENTIST - TRANSPORTATION TECHNOLOGY',
       'Data Science Manager', 'Big Data Engineer', 'Data Architect',
       'Information Systems Engineering Specialist (Engineering Scientist)',
       'Scientist/Research Associate-Metabolic Engineering',
       'Vice President, Biometrics and Clinical Data Management',
       'Sr. Research Associate/ Scientist, NGS prep & Molecular Genomics',
       'Developer III - Data Science',
       'Hydrogen/Tritium Materials Scientist (Experienced)'], dtype=object)

In [145]:
df1['Job Role'] = df1['Job Role'].str.replace(r'data analysis','Data Analyst', case=False, regex=True)

In [146]:
df1.drop('Extracted', axis=1, inplace=True)

In [147]:
df1['Job Role'].unique()

array(['Senior Data Scientist', 'Data Scientist',
       'Associate Data Scientist', 'Data Modeler', 'Data Analyst',
       'Medical Lab Scientist', 'Human Factors Scientist',
       'Business Intelligence Analyst I- Data Insights', 'Data Engineer',
       'Business Intelligence Analyst', 'Machine Learning Engineer',
       'Scientist - Molecular Biology', 'Jr. Data Engineer',
       'Data Analytics Engineer', 'Data Engineer (Remote)',
       'Principal Data Scientist', 'Purification Scientist',
       'Data Engineer, Enterprise Analytics',
       'Data Science Manager, Payment Acceptance - USA',
       'Sr Data Engineer (Sr BI Developer)',
       'Software Engineer - Data Science', 'NGS Scientist',
       'Senior Data Engineer', 'Data Integration and Modeling Engineer',
       'Tableau Data Engineer 20-0117',
       'Research Scientist Patient Preferences (Remote)',
       'Scientist - Biomarker and Flow Cytometry', 'Analytics Manager',
       'Staff Scientist- Upstream PD',
       'Sr Scientist - Extractables & Leachables',
       'ELISA RESEARCH SCIENTIST (CV-15)', 'Computational Scientist',
       'Senior Data Analyst',
       'Research Scientist - Patient-Centered Research (Remote)',
       'Statistical Scientist', 'Computational Behavioral Scientist',
       'Principal Scientist/Associate Director, Quality Control and Analytical Technologies',
       'Data Science Instructor', 'Senior Business Intelligence Analyst',
       'Data Science Software Engineer',
       'ENGINEER - COMPUTER SCIENTIST - RESEARCH COMPUTER SCIENTIST - SIGNAL PROCESSING - SAN ANTONIO OR',
       'Analytics Manager - Data Mart',
       'Data Modeler (Analytical Systems)',
       'Equity Data Insights Analyst - Quantitative Analyst',
       'Software Data Engineer', 'Real World Evidence (RWE) Scientist',
       'Computer Scientist 1', 'Environmental Data Science',
       'Staff BI and Data Engineer', 'Director of Data Science',
       'Data Engineer, Digital & Comp Pathology',
       'Manager / Lead, Data Science & Analytics', 'Chief Scientist',
       'Development Scientist, Voltaren',
       'Principal Data & Analytics Platform Engineer', 'VP, Data Science',
       'Data Engineer - Kafka', 'Decision Scientist',
       'Data Science All Star Program - Data Engineer Track',
       'Applied AI Scientist / Engineer',
       'Data Engineer (Analytics, SQL, Python, AWS)',
       'IT Partner Digital Health Technology and Data Science',
       'Computer Vision / Deep Learning Scientist',
       'Data Solutions Engineer - Data Modeler',
       'Weapons and Sensors Engineer/Scientist',
       'Applied Computer Scientist', 'Cloud Data Engineer (Azure)',
       'Lead Certified Clinical Laboratory Scientist - Saturday - Tuesday, 8:00pm - 6:30am shift',
       'Senior Scientist - Toxicologist - Product Integrity (Stewardship)',
       'Scientist / Group Lead, Cancer Biology',
       'Manager, Field Application Scientist, Southeast',
       'COMPUTER SCIENTIST - ENGINEER - RESEARCH COMPUTER SCIENTIST - SIGNAL PROCESSING',
       'Data Science Analyst',
       'COMPUTER SCIENTIST - ENGINEER - RESEARCH COMPUTER SCIENTIST - TRANSPORTATION TECHNOLOGY',
       'Data Science Manager', 'Big Data Engineer', 'Data Architect',
       'Information Systems Engineering Specialist (Engineering Scientist)',
       'Scientist/Research Associate-Metabolic Engineering',
       'Vice President, Biometrics and Clinical Data Management',
       'Sr. Research Associate/ Scientist, NGS prep & Molecular Genomics',
       'Developer III - Data Science',
       'Hydrogen/Tritium Materials Scientist (Experienced)'], dtype=object)

In [148]:
df1[df1['Job Role'] == 'Jr. Data Engineer']

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Job Role
53,Jr. Data Engineer,$75K-$131K (Glassdoor est.),Jr. Data Engineer\n\nJob Details\nLevel\nEntry...,4.8,IT Concepts\n4.8,Remote,"Vienna, VA",51 to 200 employees,2003,Company - Private,IT Services,Information Technology,$10 to $25 million (USD),-1,Jr. Data Engineer

In [149]:
df1['Extracted'] = df1['Job Role'].str.extract(r'(Data Engineer|Senior Data Engineer)')
df1['Job Role'] = df1['Extracted'].combine_first(df1['Job Role'])

In [150]:
df1.drop('Extracted', axis=1, inplace=True)

In [151]:
df1.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Job Role
0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna",Senior Data Scientist
1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1,Data Scientist
2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1,Data Scientist
3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech...",Data Scientist
4,Data Scientist,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",Data Scientist

In [152]:
df1['Job Role'].unique()

array(['Senior Data Scientist', 'Data Scientist',
       'Associate Data Scientist', 'Data Modeler', 'Data Analyst',
       'Medical Lab Scientist', 'Human Factors Scientist',
       'Business Intelligence Analyst I- Data Insights', 'Data Engineer',
       'Business Intelligence Analyst', 'Machine Learning Engineer',
       'Scientist - Molecular Biology', 'Data Analytics Engineer',
       'Principal Data Scientist', 'Purification Scientist',
       'Data Science Manager, Payment Acceptance - USA',
       'Software Engineer - Data Science', 'NGS Scientist',
       'Senior Data Engineer', 'Data Integration and Modeling Engineer',
       'Research Scientist Patient Preferences (Remote)',
       'Scientist - Biomarker and Flow Cytometry', 'Analytics Manager',
       'Staff Scientist- Upstream PD',
       'Sr Scientist - Extractables & Leachables',
       'ELISA RESEARCH SCIENTIST (CV-15)', 'Computational Scientist',
       'Senior Data Analyst',
       'Research Scientist - Patient-Centered Research (Remote)',
       'Statistical Scientist', 'Computational Behavioral Scientist',
       'Principal Scientist/Associate Director, Quality Control and Analytical Technologies',
       'Data Science Instructor', 'Senior Business Intelligence Analyst',
       'Data Science Software Engineer',
       'ENGINEER - COMPUTER SCIENTIST - RESEARCH COMPUTER SCIENTIST - SIGNAL PROCESSING - SAN ANTONIO OR',
       'Analytics Manager - Data Mart',
       'Data Modeler (Analytical Systems)',
       'Equity Data Insights Analyst - Quantitative Analyst',
       'Real World Evidence (RWE) Scientist', 'Computer Scientist 1',
       'Environmental Data Science', 'Director of Data Science',
       'Manager / Lead, Data Science & Analytics', 'Chief Scientist',
       'Development Scientist, Voltaren',
       'Principal Data & Analytics Platform Engineer', 'VP, Data Science',
       'Decision Scientist', 'Applied AI Scientist / Engineer',
       'IT Partner Digital Health Technology and Data Science',
       'Computer Vision / Deep Learning Scientist',
       'Data Solutions Engineer - Data Modeler',
       'Weapons and Sensors Engineer/Scientist',
       'Applied Computer Scientist',
       'Lead Certified Clinical Laboratory Scientist - Saturday - Tuesday, 8:00pm - 6:30am shift',
       'Senior Scientist - Toxicologist - Product Integrity (Stewardship)',
       'Scientist / Group Lead, Cancer Biology',
       'Manager, Field Application Scientist, Southeast',
       'COMPUTER SCIENTIST - ENGINEER - RESEARCH COMPUTER SCIENTIST - SIGNAL PROCESSING',
       'Data Science Analyst',
       'COMPUTER SCIENTIST - ENGINEER - RESEARCH COMPUTER SCIENTIST - TRANSPORTATION TECHNOLOGY',
       'Data Science Manager', 'Data Architect',
       'Information Systems Engineering Specialist (Engineering Scientist)',
       'Scientist/Research Associate-Metabolic Engineering',
       'Vice President, Biometrics and Clinical Data Management',
       'Sr. Research Associate/ Scientist, NGS prep & Molecular Genomics',
       'Developer III - Data Science',
       'Hydrogen/Tritium Materials Scientist (Experienced)'], dtype=object)

In [155]:
to_replace = ['Human Factors Scientist',
              'Scientist - Molecular Biology',
              'Purification Scientist',
              'NGS Scientist',
              'Research Scientist Patient Preferences (Remote)',
              'Scientist - Biomarker and Flow Cytometry',
              'Staff Scientist- Upstream PD',
              'ELISA RESEARCH SCIENTIST (CV-15)', 'Computational Scientist',
              'Sr Scientist - Extractables & Leachables',
              'Research Scientist - Patient-Centered Research (Remote)',
              'Scientist/Research Associate-Metabolic Engineering',
              'Vice President, Biometrics and Clinical Data Management',
              'Sr. Research Associate/ Scientist, NGS prep & Molecular Genomics',
              'Hydrogen/Tritium Materials Scientist (Experienced)'
              ]

df1['Job Role'] = df1['Job Role'].replace(to_replace,'Other Data Roles')

In [156]:
df1['Job Role'].unique()

array(['Senior Data Scientist', 'Data Scientist',
       'Associate Data Scientist', 'Data Modeler', 'Data Analyst',
       'Medical Lab Scientist', 'Other Data Roles',
       'Business Intelligence Analyst I- Data Insights', 'Data Engineer',
       'Business Intelligence Analyst', 'Machine Learning Engineer',
       'Data Analytics Engineer', 'Principal Data Scientist',
       'Data Science Manager, Payment Acceptance - USA',
       'Software Engineer - Data Science', 'Senior Data Engineer',
       'Data Integration and Modeling Engineer', 'Analytics Manager',
       'Senior Data Analyst', 'Statistical Scientist',
       'Computational Behavioral Scientist',
       'Principal Scientist/Associate Director, Quality Control and Analytical Technologies',
       'Data Science Instructor', 'Senior Business Intelligence Analyst',
       'Data Science Software Engineer',
       'ENGINEER - COMPUTER SCIENTIST - RESEARCH COMPUTER SCIENTIST - SIGNAL PROCESSING - SAN ANTONIO OR',
       'Analytics Manager - Data Mart',
       'Data Modeler (Analytical Systems)',
       'Equity Data Insights Analyst - Quantitative Analyst',
       'Real World Evidence (RWE) Scientist', 'Computer Scientist 1',
       'Environmental Data Science', 'Director of Data Science',
       'Manager / Lead, Data Science & Analytics', 'Chief Scientist',
       'Development Scientist, Voltaren',
       'Principal Data & Analytics Platform Engineer', 'VP, Data Science',
       'Decision Scientist', 'Applied AI Scientist / Engineer',
       'IT Partner Digital Health Technology and Data Science',
       'Computer Vision / Deep Learning Scientist',
       'Data Solutions Engineer - Data Modeler',
       'Weapons and Sensors Engineer/Scientist',
       'Applied Computer Scientist',
       'Lead Certified Clinical Laboratory Scientist - Saturday - Tuesday, 8:00pm - 6:30am shift',
       'Senior Scientist - Toxicologist - Product Integrity (Stewardship)',
       'Scientist / Group Lead, Cancer Biology',
       'Manager, Field Application Scientist, Southeast',
       'COMPUTER SCIENTIST - ENGINEER - RESEARCH COMPUTER SCIENTIST - SIGNAL PROCESSING',
       'Data Science Analyst',
       'COMPUTER SCIENTIST - ENGINEER - RESEARCH COMPUTER SCIENTIST - TRANSPORTATION TECHNOLOGY',
       'Data Science Manager', 'Data Architect',
       'Information Systems Engineering Specialist (Engineering Scientist)',
       'Developer III - Data Science'], dtype=object)

In [157]:
to_replace = [
    'Data Science Instructor',
    'ENGINEER - COMPUTER SCIENTIST - RESEARCH COMPUTER SCIENTIST - SIGNAL PROCESSING - SAN ANTONIO OR',
    'Real World Evidence (RWE) Scientist', 'Computer Scientist 1',
    'Development Scientist, Voltaren',
    'IT Partner Digital Health Technology and Data Science',
    'COMPUTER SCIENTIST - ENGINEER - RESEARCH COMPUTER SCIENTIST - TRANSPORTATION TECHNOLOGY',
    'Information Systems Engineering Specialist (Engineering Scientist)'
]
df1['Job Role'] = df1['Job Role'].replace(to_replace, 'Other Data Roles')

In [160]:
df1['Job Role'].unique()

array(['Senior Data Scientist', 'Data Scientist',
       'Associate Data Scientist', 'Data Modeler', 'Data Analyst',
       'Medical Lab Scientist', 'Other Data Roles',
       'Business Intelligence Analyst I- Data Insights', 'Data Engineer',
       'Business Intelligence Analyst', 'Machine Learning Engineer',
       'Data Analytics Engineer', 'Principal Data Scientist',
       'Data Science Manager, Payment Acceptance - USA',
       'Software Engineer - Data Science', 'Senior Data Engineer',
       'Data Integration and Modeling Engineer', 'Analytics Manager',
       'Senior Data Analyst', 'Statistical Scientist',
       'Computational Behavioral Scientist',
       'Principal Scientist/Associate Director, Quality Control and Analytical Technologies',
       'Senior Business Intelligence Analyst',
       'Data Science Software Engineer', 'Analytics Manager - Data Mart',
       'Data Modeler (Analytical Systems)',
       'Equity Data Insights Analyst - Quantitative Analyst',
       'Environmental Data Science', 'Director of Data Science',
       'Manager / Lead, Data Science & Analytics', 'Chief Scientist',
       'Principal Data & Analytics Platform Engineer', 'VP, Data Science',
       'Decision Scientist', 'Applied AI Scientist / Engineer',
       'Computer Vision / Deep Learning Scientist',
       'Data Solutions Engineer - Data Modeler',
       'Applied Computer Scientist',
       'Senior Scientist - Toxicologist - Product Integrity (Stewardship)',
       'Manager, Field Application Scientist, Southeast',
       'Data Science Analyst', 'Data Science Manager', 'Data Architect',
       'Developer III - Data Science'], dtype=object)

In [161]:
to_replace = [
   'Statistical Scientist',
   'Computational Behavioral Scientist',
   'Environmental Data Science',
   'Chief Scientist',
   'Decision Scientist',
   'Applied AI Scientist / Engineer',
   'Computer Vision / Deep Learning Scientist',
   'Applied Computer Scientist',
   'Senior Scientist - Toxicologist - Product Integrity (Stewardship)',
   'Data Science Analyst',
]
df1['Job Role'] = df1['Job Role'].replace(to_replace, 'Data Scientist')

In [164]:
df1['Job Role'].unique()

array(['Senior Data Scientist', 'Data Scientist',
       'Associate Data Scientist', 'Data Modeler', 'Data Analyst',
       'Medical Lab Scientist', 'Other Data Roles',
       'Business Intelligence Analyst I- Data Insights', 'Data Engineer',
       'Business Intelligence Analyst', 'Machine Learning Engineer',
       'Data Analytics Engineer', 'Principal Data Scientist',
       'Data Science Manager, Payment Acceptance - USA',
       'Software Engineer - Data Science', 'Senior Data Engineer',
       'Data Integration and Modeling Engineer', 'Analytics Manager',
       'Senior Data Analyst',
       'Principal Scientist/Associate Director, Quality Control and Analytical Technologies',
       'Senior Business Intelligence Analyst',
       'Data Science Software Engineer', 'Analytics Manager - Data Mart',
       'Data Modeler (Analytical Systems)',
       'Equity Data Insights Analyst - Quantitative Analyst',
       'Director of Data Science',
       'Manager / Lead, Data Science & Analytics',
       'Principal Data & Analytics Platform Engineer', 'VP, Data Science',
       'Data Solutions Engineer - Data Modeler',
       'Manager, Field Application Scientist, Southeast',
       'Data Science Manager', 'Data Architect',
       'Developer III - Data Science'], dtype=object)

In [167]:
to_replace = [
   'Data Analytics Engineer',
   'Data Integration and Modeling Engineer',
   'Data Modeler (Analytical Systems)',
   'Data Modeler',
   'Software Engineer - Data Science',
   'Principal Data & Analytics Platform Engineer',
   'Software Engineer - Data Science',
   'Data Science Software Engineer',
   'Developer III - Data Science'
]
df1['Job Role'] = df1['Job Role'].replace(to_replace, 'Data Engineer')

In [168]:
df1['Job Role'].unique()

array(['Senior Data Scientist', 'Data Scientist',
       'Associate Data Scientist', 'Data Engineer', 'Data Analyst',
       'Medical Lab Scientist', 'Other Data Roles',
       'Business Intelligence Analyst I- Data Insights',
       'Business Intelligence Analyst', 'Machine Learning Engineer',
       'Principal Data Scientist',
       'Data Science Manager, Payment Acceptance - USA',
       'Senior Data Engineer', 'Analytics Manager', 'Senior Data Analyst',
       'Principal Scientist/Associate Director, Quality Control and Analytical Technologies',
       'Senior Business Intelligence Analyst',
       'Analytics Manager - Data Mart',
       'Equity Data Insights Analyst - Quantitative Analyst',
       'Director of Data Science',
       'Manager / Lead, Data Science & Analytics', 'VP, Data Science',
       'Data Solutions Engineer - Data Modeler',
       'Manager, Field Application Scientist, Southeast',
       'Data Science Manager', 'Data Architect'], dtype=object)

In [169]:
to_replace = [
   'Business Intelligence Analyst I- Data Insights',
   'Business Intelligence Analyst',
   'Senior Business Intelligence Analyst',
   'Equity Data Insights Analyst - Quantitative Analyst',
]
df1['Job Role'] = df1['Job Role'].replace(to_replace, 'Data Analyst')

In [170]:
df1['Job Role'].unique()

array(['Senior Data Scientist', 'Data Scientist',
       'Associate Data Scientist', 'Data Engineer', 'Data Analyst',
       'Medical Lab Scientist', 'Other Data Roles',
       'Machine Learning Engineer', 'Principal Data Scientist',
       'Data Science Manager, Payment Acceptance - USA',
       'Senior Data Engineer', 'Analytics Manager', 'Senior Data Analyst',
       'Principal Scientist/Associate Director, Quality Control and Analytical Technologies',
       'Analytics Manager - Data Mart', 'Director of Data Science',
       'Manager / Lead, Data Science & Analytics', 'VP, Data Science',
       'Data Solutions Engineer - Data Modeler',
       'Manager, Field Application Scientist, Southeast',
       'Data Science Manager', 'Data Architect'], dtype=object)

In [171]:
to_replace = [
   'Data Science Manager, Payment Acceptance - USA',
   'Analytics Manager',
   'Principal Scientist/Associate Director, Quality Control and Analytical Technologies',
   'Analytics Manager - Data Mart',
   'Director of Data Science',
   'Manager / Lead, Data Science & Analytics',
   'VP, Data Science',
   'Manager, Field Application Scientist, Southeast',
   'Data Science Manager', 
   'Data Architect'
]
df1['Job Role'] = df1['Job Role'].replace(to_replace, 'Data Science/Analytics Manager')

In [172]:
df1['Job Role'].unique()

array(['Senior Data Scientist', 'Data Scientist',
       'Associate Data Scientist', 'Data Engineer', 'Data Analyst',
       'Medical Lab Scientist', 'Other Data Roles',
       'Machine Learning Engineer', 'Principal Data Scientist',
       'Data Science/Analytics Manager', 'Senior Data Engineer',
       'Senior Data Analyst', 'Data Solutions Engineer - Data Modeler'],
      dtype=object)

In [173]:
df1['Job Role'].value_counts()

Job Role
Data Scientist                            430
Data Engineer                              56
Data Analyst                               45
Machine Learning Engineer                  36
Other Data Roles                           34
Senior Data Scientist                      27
Data Science/Analytics Manager             13
Senior Data Analyst                        10
Associate Data Scientist                    8
Principal Data Scientist                    6
Senior Data Engineer                        5
Medical Lab Scientist                       1
Data Solutions Engineer - Data Modeler      1
Name: count, dtype: int64

In [174]:
to_remove = [
    'Other Data Roles',
    'Medical Lab Scientist',
    'Data Solutions Engineer - Data Modeler'
]
df2 = df1[~df1['Job Role'].isin(to_remove)]

In [175]:
df2.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Job Role,Job Role1
0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna",Senior Data Scientist,Senior Data Scientist
1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1,Data Scientist,Data Scientist
2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1,Data Scientist,Data Scientist
3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech...",Data Scientist,Data Scientist
4,Data Scientist,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",Data Scientist,Data Scientist

In [176]:
df2.shape

(636, 16)

In [177]:
df1.shape

(672, 16)

In [178]:
df2['Job Title'] = df2['Job Role']

C:\Users\SrivarshanSekar\AppData\Local\Temp\ipykernel_11552\3646921645.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Job Title'] = df2['Job Role']

In [180]:
df2['Job Title'].unique()

array(['Senior Data Scientist', 'Data Scientist',
       'Associate Data Scientist', 'Data Engineer', 'Data Analyst',
       'Machine Learning Engineer', 'Principal Data Scientist',
       'Data Science/Analytics Manager', 'Senior Data Engineer',
       'Senior Data Analyst'], dtype=object)

In [181]:
df2.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Job Role,Job Role1
0,Senior Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna",Senior Data Scientist,Senior Data Scientist
1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1,Data Scientist,Data Scientist
2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1,Data Scientist,Data Scientist
3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech...",Data Scientist,Data Scientist
4,Data Scientist,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",Data Scientist,Data Scientist

In [182]:
df2.drop(['Job Role','Job Role1'], axis=1, inplace=True)

C:\Users\SrivarshanSekar\AppData\Local\Temp\ipykernel_11552\3696051313.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.drop(['Job Role','Job Role1'], axis=1, inplace=True)

In [183]:
df2.shape

(636, 14)

In [184]:
df3 = df2.copy()

In [188]:
df3['Company Name'] = df3['Company Name'].str.replace(r'\n[0-9]\.[0-9]',"", regex=True)

In [190]:
df3

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,Senior Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"
1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1
2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1
3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech..."
4,Data Scientist,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,Data Scientist,$105K-$167K (Glassdoor est.),Summary\n\nWe’re looking for a data scientist ...,3.6,TRANZACT,"Fort Lee, NJ","Fort Lee, NJ",1001 to 5000 employees,1989,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,-1
668,Data Scientist,$105K-$167K (Glassdoor est.),Job Description\nBecome a thought leader withi...,-1.0,JKGT,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1,-1
669,Data Scientist,$105K-$167K (Glassdoor est.),Join a thriving company that is changing the w...,-1.0,AccessHope,"Irwindale, CA",-1,-1,-1,-1,-1,-1,-1,-1
670,Data Scientist,$105K-$167K (Glassdoor est.),100 Remote Opportunity As an AINLP Data Scient...,5.0,ChaTeck Incorporated,"San Francisco, CA","Santa Clara, CA",1 to 50 employees,-1,Company - Private,Advertising & Marketing,Business Services,$1 to $5 million (USD),-1
671,Data Scientist,$105K-$167K (Glassdoor est.),Description\n\nThe Data Scientist will be part...,2.7,1-800-Flowers,"New York, NY","Carle Place, NY",1001 to 5000 employees,1976,Company - Public,Wholesale,Business Services,$1 to $2 billion (USD),-1

In [191]:
df3['Salary Estimate'] = df3['Salary Estimate'].str.replace(r'(Glassdoor est.)',"", regex=True)

In [192]:
df3.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,Senior Data Scientist,$137K-$171K (),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"
1,Data Scientist,$137K-$171K (),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1
2,Data Scientist,$137K-$171K (),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1
3,Data Scientist,$137K-$171K (),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech..."
4,Data Scientist,$137K-$171K (),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"

In [193]:
df3['Salary Estimate'] = df3['Salary Estimate'].str.replace(r'\(\)',"", regex=True)

In [194]:
df3.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,Senior Data Scientist,$137K-$171K,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"
1,Data Scientist,$137K-$171K,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1
2,Data Scientist,$137K-$171K,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1
3,Data Scientist,$137K-$171K,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech..."
4,Data Scientist,$137K-$171K,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"

In [195]:
df3['Salary Estimate'] = df3['Salary Estimate'].str.replace(r'\$|K',"", regex=True)

In [196]:
df3.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,Senior Data Scientist,137-171,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"
1,Data Scientist,137-171,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1
2,Data Scientist,137-171,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1
3,Data Scientist,137-171,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech..."
4,Data Scientist,137-171,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"

In [197]:
df3[['Minimum Salary','Maximum Salary']] = df3['Salary Estimate'].str.split('-', expand=True)

In [198]:
df3.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Minimum Salary,Maximum Salary
0,Senior Data Scientist,137-171,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna",137,171
1,Data Scientist,137-171,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1,137,171
2,Data Scientist,137-171,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1,137,171
3,Data Scientist,137-171,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech...",137,171
4,Data Scientist,137-171,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",137,171

In [201]:
df3['Maximum Salary'].unique()

array(['171 ', '131 ', '132 ', '109 ', '165 ', '97 ', '106 ', '123 ',
       '124 ', '150 ', '225 ', '225(Employer est.)', '147 ', '146 ',
       '116 ', '163 ', '198 ', '133 ', '56 ', '119 ', '331 ', '112 ',
       '201 ', '158 ', '141 ', '155 ', '167 '], dtype=object)

In [202]:
df3['Maximum Salary'] = df3['Maximum Salary'].str.replace(r'\(Employer est\.\)',"", regex=True)

In [203]:
df3['Maximum Salary'].unique()

array(['171 ', '131 ', '132 ', '109 ', '165 ', '97 ', '106 ', '123 ',
       '124 ', '150 ', '225 ', '225', '147 ', '146 ', '116 ', '163 ',
       '198 ', '133 ', '56 ', '119 ', '331 ', '112 ', '201 ', '158 ',
       '141 ', '155 ', '167 '], dtype=object)

In [204]:
df3[['Minimum Salary', 'Maximum Salary']] = df3[['Minimum Salary', 'Maximum Salary']].astype(int)

In [205]:
df3.dtypes

Job Title             object
Salary Estimate       object
Job Description       object
Rating               float64
Company Name          object
Location              object
Headquarters          object
Size                  object
Founded                int64
Type of ownership     object
Industry              object
Sector                object
Revenue               object
Competitors           object
Minimum Salary         int64
Maximum Salary         int64
dtype: object

In [206]:
df3['Minimum Salary'] = df3['Minimum Salary'] * 1000
df3['Maximum Salary'] = df3['Maximum Salary'] * 1000

In [208]:
df3['Average Salary'] = df3['Minimum Salary'] + df3['Maximum Salary'] / 2

In [209]:
df3.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Minimum Salary,Maximum Salary,Average Salary
0,Senior Data Scientist,137-171,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna",137000,171000,222500.0
1,Data Scientist,137-171,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1,137000,171000,222500.0
2,Data Scientist,137-171,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1,137000,171000,222500.0
3,Data Scientist,137-171,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech...",137000,171000,222500.0
4,Data Scientist,137-171,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",137000,171000,222500.0

In [210]:
df3.drop('Salary Estimate', axis=1, inplace=True)

In [211]:
df3.head()

,Job Title,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Minimum Salary,Maximum Salary,Average Salary
0,Senior Data Scientist,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna",137000,171000,222500.0
1,Data Scientist,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1,137000,171000,222500.0
2,Data Scientist,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1,137000,171000,222500.0
3,Data Scientist,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech...",137000,171000,222500.0
4,Data Scientist,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",137000,171000,222500.0

In [212]:
df3['Size'] = df3['Size'].str.replace('employees',"")

In [216]:
df3['Size'].value_counts()

Size
51 to 200         130
1001 to 5000       94
1 to 50            85
201 to 500         81
10000+             76
501 to 1000        71
5001 to 10000      58
-1                 24
Unknown            17
Name: count, dtype: int64

In [222]:
mode_size = df3.loc[~df3['Size'].isin(['-1','Unknown']), 'Size'].mode()[0]

In [223]:
mode_size

'51 to 200 '

In [224]:
df3['Size'] = df3['Size'].replace(['-1','Unknown'],mode_size)

In [225]:
df3['Size'].value_counts()

Size
51 to 200         171
1001 to 5000       94
1 to 50            85
201 to 500         81
10000+             76
501 to 1000        71
5001 to 10000      58
Name: count, dtype: int64

In [226]:
df3.head()

,Job Title,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Minimum Salary,Maximum Salary,Average Salary
0,Senior Data Scientist,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst,"New York, NY","New York, NY",1001 to 5000,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna",137000,171000,222500.0
1,Data Scientist,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech,"Chantilly, VA","Herndon, VA",5001 to 10000,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1,137000,171000,222500.0
2,Data Scientist,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group,"Boston, MA","Boston, MA",1001 to 5000,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1,137000,171000,222500.0
3,Data Scientist,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech...",137000,171000,222500.0
4,Data Scientist,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY","New York, NY",51 to 200,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",137000,171000,222500.0

In [231]:
df3.drop(['Headquarters','Revenue','Competitors'], axis=1,inplace=True)

In [232]:
df3.head()

,Job Title,Job Description,Rating,Company Name,Location,Size,Founded,Type of ownership,Industry,Sector,Minimum Salary,Maximum Salary,Average Salary
0,Senior Data Scientist,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst,"New York, NY",1001 to 5000,1993,Nonprofit Organization,Insurance Carriers,Insurance,137000,171000,222500.0
1,Data Scientist,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech,"Chantilly, VA",5001 to 10000,1968,Company - Public,Research & Development,Business Services,137000,171000,222500.0
2,Data Scientist,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group,"Boston, MA",1001 to 5000,1981,Private Practice / Firm,Consulting,Business Services,137000,171000,222500.0
3,Data Scientist,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON,"Newton, MA",501 to 1000,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,137000,171000,222500.0
4,Data Scientist,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY",51 to 200,1998,Company - Private,Advertising & Marketing,Business Services,137000,171000,222500.0

In [243]:
mode_size = df3.loc[~(df3['Founded']==-1), 'Founded'].mode()[0]

In [244]:
mode_size

np.int64(2012)

In [245]:
df3['Founded'] = df3['Founded'].replace(-1,mode_size)

In [248]:
mode_size = df3.loc[~df3['Type of ownership'].isin(['Unknown']), 'Type of ownership'].mode()[0]

In [249]:
mode_size

'Company - Private'

In [250]:
df3['Type of ownership'] = df3['Type of ownership'].replace('Unknown', mode_size)

In [252]:
df3.head()

,Job Title,Job Description,Rating,Company Name,Location,Size,Founded,Type of ownership,Industry,Sector,Minimum Salary,Maximum Salary,Average Salary
0,Senior Data Scientist,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst,"New York, NY",1001 to 5000,1993,Nonprofit Organization,Insurance Carriers,Insurance,137000,171000,222500.0
1,Data Scientist,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech,"Chantilly, VA",5001 to 10000,1968,Company - Public,Research & Development,Business Services,137000,171000,222500.0
2,Data Scientist,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group,"Boston, MA",1001 to 5000,1981,Private Practice / Firm,Consulting,Business Services,137000,171000,222500.0
3,Data Scientist,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON,"Newton, MA",501 to 1000,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,137000,171000,222500.0
4,Data Scientist,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY",51 to 200,1998,Company - Private,Advertising & Marketing,Business Services,137000,171000,222500.0

In [254]:
df3[df3['Industry'] == '-1']

,Job Title,Job Description,Rating,Company Name,Location,Size,Founded,Type of ownership,Industry,Sector,Minimum Salary,Maximum Salary,Average Salary
42,Data Analyst,Who is Cenlar?\n\nYou are.\n\nEmployee-owners ...,2.6,Cenlar,"Ewing, NJ",1001 to 5000,1958,Company - Private,-1,-1,75000,131000,140500.0
158,Machine Learning Engineer,Overview\n\nRadical Convergence is a fast-pace...,-1.0,Radical Convergence,"Reston, VA",51 to 200,2012,-1,-1,-1,101000,165000,183500.0
168,Data Engineer,Job Number: 10202\nGroup: Cosma International\...,3.5,Magna International Inc.,"Birmingham, AL",10000+,1957,Company - Public,-1,-1,101000,165000,183500.0
193,Data Scientist,Job Description\nClient JD below:\n\nWe need a...,5.0,SkillSoniq,"San Francisco, CA",51 to 200,2012,Company - Public,-1,-1,56000,97000,104500.0
195,Data Scientist,"About Joby\nLocated in Northern California, th...",4.3,Joby Aviation,"San Carlos, CA",51 to 200,2012,Company - Private,-1,-1,56000,97000,104500.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
660,Data Scientist,"Location: Redmond, WA\nClient: Microsoft (Un-M...",-1.0,Pactera Edge,"Redmond, WA",51 to 200,2012,-1,-1,-1,105000,167000,188500.0
662,Data Scientist,Solution IT Inc. is looking for an Data Scient...,4.4,"SolutionIT, Inc.","Edison, NJ",51 to 200,2012,Company - Private,-1,-1,105000,167000,188500.0
664,Data Scientist,Job Description\nClear Ridge has an exciting o...,-1.0,Clear Ridge Defense,"Quantico, VA",1 to 50,2012,Company - Private,-1,-1,105000,167000,188500.0
668,Data Scientist,Job Description\nBecome a thought leader withi...,-1.0,JKGT,"San Francisco, CA",51 to 200,2012,-1,-1,-1,105000,167000,188500.0
669,Data Scientist,Join a thriving company that is changing the w...,-1.0,AccessHope,"Irwindale, CA",51 to 200,2012,-1,-1,-1,105000,167000,188500.0

In [257]:
mode_size = df3.loc[~df3['Industry'].isin(['-1']), 'Industry'].mode()[0]

In [258]:
df3['Industry'] = df3['Industry'].replace('-1',mode_size)

In [259]:
mode_size = df3.loc[~df3['Sector'].isin(['-1']), 'Sector'].mode()[0]
df3['Sector'] = df3['Sector'].replace('-1',mode_size)

In [260]:
mode_size = df3.loc[~df3['Type of ownership'].isin(['-1']), 'Type of ownership'].mode()[0]
df3['Type of ownership'] = df3['Type of ownership'].replace('-1', mode_size)

In [261]:
df3.head()

,Job Title,Job Description,Rating,Company Name,Location,Size,Founded,Type of ownership,Industry,Sector,Minimum Salary,Maximum Salary,Average Salary
0,Senior Data Scientist,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst,"New York, NY",1001 to 5000,1993,Nonprofit Organization,Insurance Carriers,Insurance,137000,171000,222500.0
1,Data Scientist,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech,"Chantilly, VA",5001 to 10000,1968,Company - Public,Research & Development,Business Services,137000,171000,222500.0
2,Data Scientist,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group,"Boston, MA",1001 to 5000,1981,Private Practice / Firm,Consulting,Business Services,137000,171000,222500.0
3,Data Scientist,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON,"Newton, MA",501 to 1000,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,137000,171000,222500.0
4,Data Scientist,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY",51 to 200,1998,Company - Private,Advertising & Marketing,Business Services,137000,171000,222500.0

In [267]:
df3['Type of ownership'] = df3['Type of ownership'].str.replace('Company - ',' ')

In [268]:
df3.head()

,Job Title,Job Description,Rating,Company Name,Location,Size,Founded,Type of ownership,Industry,Sector,Minimum Salary,Maximum Salary,Average Salary
0,Senior Data Scientist,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst,"New York, NY",1001 to 5000,1993,Nonprofit Organization,Insurance Carriers,Insurance,137000,171000,222500.0
1,Data Scientist,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech,"Chantilly, VA",5001 to 10000,1968,Public,Research & Development,Business Services,137000,171000,222500.0
2,Data Scientist,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group,"Boston, MA",1001 to 5000,1981,Private Practice / Firm,Consulting,Business Services,137000,171000,222500.0
3,Data Scientist,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON,"Newton, MA",501 to 1000,2000,Public,Electrical & Electronic Manufacturing,Manufacturing,137000,171000,222500.0
4,Data Scientist,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY",51 to 200,1998,Private,Advertising & Marketing,Business Services,137000,171000,222500.0

In [269]:
df3['Type of ownership'].value_counts()

Type of ownership
 Private                          412
 Public                           146
Nonprofit Organization             29
Subsidiary or Business Segment     24
Government                          9
Other Organization                  5
Private Practice / Firm             4
Self-employed                       2
College / University                2
Contract                            2
Hospital                            1
Name: count, dtype: int64

In [270]:
to_replace = [
    'Subsidiary or Business Segment',
    'Private Practice / Firm',
    'Self-employed',
    'College / University',
    'Hospital',
]
df3['Type of ownership'] = df3['Type of ownership'].replace(to_replace, 'Private')

In [271]:
to_replace = [
    'Government',
    'Other Organization'
]
df3['Type of ownership'] = df3['Type of ownership'].replace(to_replace, 'Public')

In [272]:
df3['Type of ownership'].value_counts()

Type of ownership
 Private                  412
 Public                   146
Private                    33
Nonprofit Organization     29
Public                     14
Contract                    2
Name: count, dtype: int64

In [273]:
to_replace = [
    'Contract'
]
df3['Type of ownership'] = df3['Type of ownership'].replace(to_replace, 'Private')

In [274]:
df3['Type of ownership'].value_counts()

Type of ownership
 Private                  412
 Public                   146
Private                    35
Nonprofit Organization     29
Public                     14
Name: count, dtype: int64

In [275]:
df3['Type of ownership'] = df3['Type of ownership'].str.strip()

In [276]:
df3['Type of ownership'].value_counts()

Type of ownership
Private                   447
Public                    160
Nonprofit Organization     29
Name: count, dtype: int64

In [277]:
df4 = df3.copy()

In [278]:
df4.head()

,Job Title,Job Description,Rating,Company Name,Location,Size,Founded,Type of ownership,Industry,Sector,Minimum Salary,Maximum Salary,Average Salary
0,Senior Data Scientist,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst,"New York, NY",1001 to 5000,1993,Nonprofit Organization,Insurance Carriers,Insurance,137000,171000,222500.0
1,Data Scientist,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech,"Chantilly, VA",5001 to 10000,1968,Public,Research & Development,Business Services,137000,171000,222500.0
2,Data Scientist,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group,"Boston, MA",1001 to 5000,1981,Private,Consulting,Business Services,137000,171000,222500.0
3,Data Scientist,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON,"Newton, MA",501 to 1000,2000,Public,Electrical & Electronic Manufacturing,Manufacturing,137000,171000,222500.0
4,Data Scientist,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY",51 to 200,1998,Private,Advertising & Marketing,Business Services,137000,171000,222500.0

In [279]:
df4.dtypes

Job Title             object
Job Description       object
Rating               float64
Company Name          object
Location              object
Size                  object
Founded                int64
Type of ownership     object
Industry              object
Sector                object
Minimum Salary         int64
Maximum Salary         int64
Average Salary       float64
dtype: object

In [291]:
df4['Python'] = df4['Job Description'].str.contains('python', case=False, na=False).map({True: 1, False:0})

In [292]:
df4.head()

,Job Title,Job Description,Rating,Company Name,Location,Size,Founded,Type of ownership,Industry,Sector,Minimum Salary,Maximum Salary,Average Salary,Python,SQL,Machine Learning,Deep Learning,Power BI,Tableau
0,Senior Data Scientist,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst,"New York, NY",1001 to 5000,1993,Nonprofit Organization,Insurance Carriers,Insurance,137000,171000,222500.0,0,No,Yes,No,No,No
1,Data Scientist,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech,"Chantilly, VA",5001 to 10000,1968,Public,Research & Development,Business Services,137000,171000,222500.0,0,Yes,Yes,No,No,No
2,Data Scientist,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group,"Boston, MA",1001 to 5000,1981,Private,Consulting,Business Services,137000,171000,222500.0,1,No,Yes,Yes,No,No
3,Data Scientist,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON,"Newton, MA",501 to 1000,2000,Public,Electrical & Electronic Manufacturing,Manufacturing,137000,171000,222500.0,1,Yes,Yes,Yes,No,No
4,Data Scientist,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY",51 to 200,1998,Private,Advertising & Marketing,Business Services,137000,171000,222500.0,1,Yes,Yes,No,No,No

In [293]:
df4['SQL'] = df4['Job Description'].str.contains('sql', case=False, na=False).map({True: 1, False:0})

In [294]:
df4['Machine Learning'] = df4['Job Description'].str.contains(r'Machine Learning|ML', case=False, na=False).map({True: 1, False:0})

In [295]:
df4.head()

,Job Title,Job Description,Rating,Company Name,Location,Size,Founded,Type of ownership,Industry,Sector,Minimum Salary,Maximum Salary,Average Salary,Python,SQL,Machine Learning,Deep Learning,Power BI,Tableau
0,Senior Data Scientist,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst,"New York, NY",1001 to 5000,1993,Nonprofit Organization,Insurance Carriers,Insurance,137000,171000,222500.0,0,0,1,No,No,No
1,Data Scientist,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech,"Chantilly, VA",5001 to 10000,1968,Public,Research & Development,Business Services,137000,171000,222500.0,0,1,1,No,No,No
2,Data Scientist,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group,"Boston, MA",1001 to 5000,1981,Private,Consulting,Business Services,137000,171000,222500.0,1,0,1,Yes,No,No
3,Data Scientist,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON,"Newton, MA",501 to 1000,2000,Public,Electrical & Electronic Manufacturing,Manufacturing,137000,171000,222500.0,1,1,1,Yes,No,No
4,Data Scientist,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY",51 to 200,1998,Private,Advertising & Marketing,Business Services,137000,171000,222500.0,1,1,1,No,No,No

In [296]:
df4['Machine Learning'] = df4['Job Description'].str.contains(r'Machine Learning|ML|scikit-learn', case=False, na=False).map({True: 1, False:0})

In [297]:
df4['Deep Learning'] = df4['Job Description'].str.contains(r'Deep Learning|DL|TensorFlow|PyTorch', case=False, na=False).map({True: 1, False:0})

In [298]:
df4['Power BI'] = df4['Job Description'].str.contains(r'Power BI|PowerBI', case=False, na=False).map({True: 1, False:0})

In [299]:
df4['Tableau'] = df4['Job Description'].str.contains(r'Tableau', case=False, na=False).map({True:1, False:0})

In [300]:
df4.head()

,Job Title,Job Description,Rating,Company Name,Location,Size,Founded,Type of ownership,Industry,Sector,Minimum Salary,Maximum Salary,Average Salary,Python,SQL,Machine Learning,Deep Learning,Power BI,Tableau
0,Senior Data Scientist,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst,"New York, NY",1001 to 5000,1993,Nonprofit Organization,Insurance Carriers,Insurance,137000,171000,222500.0,0,0,1,0,0,0
1,Data Scientist,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech,"Chantilly, VA",5001 to 10000,1968,Public,Research & Development,Business Services,137000,171000,222500.0,0,1,1,0,0,0
2,Data Scientist,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group,"Boston, MA",1001 to 5000,1981,Private,Consulting,Business Services,137000,171000,222500.0,1,0,1,1,0,0
3,Data Scientist,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON,"Newton, MA",501 to 1000,2000,Public,Electrical & Electronic Manufacturing,Manufacturing,137000,171000,222500.0,1,1,1,1,0,0
4,Data Scientist,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY",51 to 200,1998,Private,Advertising & Marketing,Business Services,137000,171000,222500.0,1,1,1,0,0,0

In [301]:
df4[['Python','SQL','Machine Learning','Deep Learning','Power BI','Tableau']].head()

   Python  SQL  Machine Learning  Deep Learning  Power BI  Tableau
0       0    0                 1              0         0        0
1       0    1                 1              0         0        0
2       1    0                 1              1         0        0
3       1    1                 1              1         0        0
4       1    1                 1              0         0        0

In [302]:
df4['City'] = df4['Location'].str[:-4]

In [303]:
df4.head()

,Job Title,Job Description,Rating,Company Name,Location,Size,Founded,Type of ownership,Industry,Sector,Minimum Salary,Maximum Salary,Average Salary,Python,SQL,Machine Learning,Deep Learning,Power BI,Tableau,City
0,Senior Data Scientist,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst,"New York, NY",1001 to 5000,1993,Nonprofit Organization,Insurance Carriers,Insurance,137000,171000,222500.0,0,0,1,0,0,0,New York
1,Data Scientist,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech,"Chantilly, VA",5001 to 10000,1968,Public,Research & Development,Business Services,137000,171000,222500.0,0,1,1,0,0,0,Chantilly
2,Data Scientist,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group,"Boston, MA",1001 to 5000,1981,Private,Consulting,Business Services,137000,171000,222500.0,1,0,1,1,0,0,Boston
3,Data Scientist,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON,"Newton, MA",501 to 1000,2000,Public,Electrical & Electronic Manufacturing,Manufacturing,137000,171000,222500.0,1,1,1,1,0,0,Newton
4,Data Scientist,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY",51 to 200,1998,Private,Advertising & Marketing,Business Services,137000,171000,222500.0,1,1,1,0,0,0,New York

In [306]:
df4['City'] = df4['Location'].str.replace(r', [A-Z]{2}$',"",regex=True)

In [307]:
df4.head()

,Job Title,Job Description,Rating,Company Name,Location,Size,Founded,Type of ownership,Industry,Sector,Minimum Salary,Maximum Salary,Average Salary,Python,SQL,Machine Learning,Deep Learning,Power BI,Tableau,City
0,Senior Data Scientist,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst,"New York, NY",1001 to 5000,1993,Nonprofit Organization,Insurance Carriers,Insurance,137000,171000,222500.0,0,0,1,0,0,0,New York
1,Data Scientist,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech,"Chantilly, VA",5001 to 10000,1968,Public,Research & Development,Business Services,137000,171000,222500.0,0,1,1,0,0,0,Chantilly
2,Data Scientist,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group,"Boston, MA",1001 to 5000,1981,Private,Consulting,Business Services,137000,171000,222500.0,1,0,1,1,0,0,Boston
3,Data Scientist,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON,"Newton, MA",501 to 1000,2000,Public,Electrical & Electronic Manufacturing,Manufacturing,137000,171000,222500.0,1,1,1,1,0,0,Newton
4,Data Scientist,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY",51 to 200,1998,Private,Advertising & Marketing,Business Services,137000,171000,222500.0,1,1,1,0,0,0,New York

In [308]:
df4['Location'] = df4['City']

In [309]:
df4.head()

,Job Title,Job Description,Rating,Company Name,Location,Size,Founded,Type of ownership,Industry,Sector,Minimum Salary,Maximum Salary,Average Salary,Python,SQL,Machine Learning,Deep Learning,Power BI,Tableau,City
0,Senior Data Scientist,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst,New York,1001 to 5000,1993,Nonprofit Organization,Insurance Carriers,Insurance,137000,171000,222500.0,0,0,1,0,0,0,New York
1,Data Scientist,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech,Chantilly,5001 to 10000,1968,Public,Research & Development,Business Services,137000,171000,222500.0,0,1,1,0,0,0,Chantilly
2,Data Scientist,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group,Boston,1001 to 5000,1981,Private,Consulting,Business Services,137000,171000,222500.0,1,0,1,1,0,0,Boston
3,Data Scientist,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON,Newton,501 to 1000,2000,Public,Electrical & Electronic Manufacturing,Manufacturing,137000,171000,222500.0,1,1,1,1,0,0,Newton
4,Data Scientist,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,New York,51 to 200,1998,Private,Advertising & Marketing,Business Services,137000,171000,222500.0,1,1,1,0,0,0,New York

In [310]:
df4.drop('City', axis=1, inplace=True)

In [311]:
df4.head()

,Job Title,Job Description,Rating,Company Name,Location,Size,Founded,Type of ownership,Industry,Sector,Minimum Salary,Maximum Salary,Average Salary,Python,SQL,Machine Learning,Deep Learning,Power BI,Tableau
0,Senior Data Scientist,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst,New York,1001 to 5000,1993,Nonprofit Organization,Insurance Carriers,Insurance,137000,171000,222500.0,0,0,1,0,0,0
1,Data Scientist,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech,Chantilly,5001 to 10000,1968,Public,Research & Development,Business Services,137000,171000,222500.0,0,1,1,0,0,0
2,Data Scientist,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group,Boston,1001 to 5000,1981,Private,Consulting,Business Services,137000,171000,222500.0,1,0,1,1,0,0
3,Data Scientist,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON,Newton,501 to 1000,2000,Public,Electrical & Electronic Manufacturing,Manufacturing,137000,171000,222500.0,1,1,1,1,0,0
4,Data Scientist,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,New York,51 to 200,1998,Private,Advertising & Marketing,Business Services,137000,171000,222500.0,1,1,1,0,0,0

In [312]:
df4.drop('Job Description', axis=1, inplace=True)

In [313]:
df4.head()

,Job Title,Rating,Company Name,Location,Size,Founded,Type of ownership,Industry,Sector,Minimum Salary,Maximum Salary,Average Salary,Python,SQL,Machine Learning,Deep Learning,Power BI,Tableau
0,Senior Data Scientist,3.1,Healthfirst,New York,1001 to 5000,1993,Nonprofit Organization,Insurance Carriers,Insurance,137000,171000,222500.0,0,0,1,0,0,0
1,Data Scientist,4.2,ManTech,Chantilly,5001 to 10000,1968,Public,Research & Development,Business Services,137000,171000,222500.0,0,1,1,0,0,0
2,Data Scientist,3.8,Analysis Group,Boston,1001 to 5000,1981,Private,Consulting,Business Services,137000,171000,222500.0,1,0,1,1,0,0
3,Data Scientist,3.5,INFICON,Newton,501 to 1000,2000,Public,Electrical & Electronic Manufacturing,Manufacturing,137000,171000,222500.0,1,1,1,1,0,0
4,Data Scientist,2.9,Affinity Solutions,New York,51 to 200,1998,Private,Advertising & Marketing,Business Services,137000,171000,222500.0,1,1,1,0,0,0

In [314]:
df4.to_csv('Job Data.csv')